.App {
  text-align: left;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input_fields {
  padding: 10px;
}

label {
  padding-right: 10px;
}

input {
  width: 35%;
}

.letter-head {
  /* background: url('./letter-head.jpg'); */
  width: 210mm;
  height: 297mm;
  /* background-size: 100%; */
  margin: 0px auto;
  text-transform: uppercase;
}

.patient-data-head {
  position: relative;
  top: 295px;
  left: 60px;
  font-weight: bold;
}

.age {
  margin-left: 40px; /*Sandeep's changes*/ 
}

pre {
margin:0px !important;
font-weight: bold;
font-size: 1rem !important;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.header-2-data {
  margin-top: 8px !important;
 margin-left: -60px !important;
}

.second-row {
  margin-left: -40px;
}

.second-column {
  text-align: right;/*Sandeep's changes*/
}

.present-complaints {
  width: 550px;
  height: 115px;
  margin-top: 25px;/*Sandeep's changes*/
}

.right-side-data {
  left: 105px;
  position: relative;
  top: 100px;
}

.past-history {
  margin-top: 100px;/*Sandeep's changes*/
  width: 550px;
  height: 115px;
}

.findings {
  margin-top: 100px;/*Sandeep's changes*/
  width: 550px;
  height: 115px;
}

.provisional {
  margin-top: 100px;/*Sandeep's changes*/
  width: 550px;
  height: 115px;
}

.fas{
  font-size: 20px; /*Sandeep's changes*/
}

.fa-female {
  color: green;
}

.fa-male {
  color: red;
}

.form-check-input {
  margin-right: 10px;
}

.letter-head-back {
  /* background: url('./letter-head-backside.jpg'); */
  width: 210mm;
  height: 297mm;
  /* background-size: 100%; */
  margin: 0px auto;
  text-transform: uppercase;
}

.medicine-data-head {
  position: relative;
  top: 170px;
  left: 160px;
  font-weight: bold;
}

.col-1.check-mark {
  flex: 0 0 auto;
  width: 6.5%;
}

.medicine {
  margin-top: 30px !important; /*Sandeep's changes*/
  height: 25px;
  width: 77%;  /*Sandeep's changes*/
  flex-wrap: nowrap !important;  /*Sandeep's changes*/
}

.med1 {
  height: 25px;
  margin-top: 25px !important;  /*Sandeep's changes*/
  width: 77%;  /*Sandeep's changes*/
  flex-wrap: nowrap !important;  /*Sandeep's changes*/
}

.med2 {
  height: 25px;
  margin-top: 30px !important;  /*Sandeep's changes*/
  width: 77%;  /*Sandeep's changes*/
  flex-wrap: nowrap !important;  /*Sandeep's changes*/
}

.diet {
  margin-top: 50px !important;  /*Sandeep's changes*/
  height: 100px;
  margin-left: -60px !important;  /*Sandeep's changes*/
}

.investigations {
  display: block;   /*Sandeep's changes*/
  margin-top: 35px !important;
  margin-left: -130px !important;
  height: 290px;
}

.review {
  margin-top: 115px !important;
  margin-left: -25px !important;
  height: 90px;
}

.checkbox-area {
  left: 140px;  /*Sandeep's change*/
  position: relative;
  top: 15px;
}

.date {  /*Sandeep's changes*/
  margin-left: 70px;
  margin-top: 10px;
}

.time{  /*Sandeep's changes*/
  margin-left: 70px;
  margin-top: 15px;
  width: 100%;
}

.col-5{ /*Sandeep's changes*/
  width: 50.666667% !important;
}

.col-1{ /*Sandeep's changes*/
  width: 14.333333% !important;
}

.col-2{ /*Sandeep's changes*/
  width: 19.666667% !important;
}

.row>*{ /*Sandeep's changes*/
  padding: 0px !important;
  margin-top: -15px !important;
  margin-bottom: 30px !important;
}

.col3{/*Sandeep's changes*/
  width: 11%!important;
  flex: 0 0 auto;
}

.col-6{ /*Sandeep's changes*/
 /* width: 19.666667% !important;*/
  margin-top: 0px !important;
}

.check-mark {  /*Sandeep's changes*/
  margin-left: 0px;
  width: 50px !important;
}

.dur{  /*Sandeep's changes*/
  width: 12% !important;
} 

.isTd{  /*Sandeep's changes*/
  margin-left: 20px;
}

.isDa{  /*Sandeep's changes*/
  margin-left: 50px;
}

.physio{ /*Sandeep's changes*/
  float: right;
  margin-left: 30px;
  width: 38% !important;
}

.investigate{ /*Sandeep's changes*/
  width: 430px !important;
}

.careOf{ /*Sandeep's changes*/
  margin-left: -40px !important;
  font-size: 11px;
}

.hideCheckMark{ /*Sandeep's changes*/
  visibility: hidden;
}

.print {
  width: 800px;
  margin: 110px auto; /*Sandeep's changes*/
}
