.App {
  text-align: left;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input_fields {
  padding: 10px;
}

label {
  padding-right: 10px;
}

input {
  width: 35%;
}

.letter-head {
  /* background: url('./letter-head.jpg'); */
  width: 210mm;
  height: 297mm;
  /* background-size: 100%; */
  margin: 0px auto;
}

.patient-data-head {
  position: relative;
  top: 265px;
  left: 60px;
  font-weight: bold;
}

.age {
  margin-left: 24px;
}

.header-2-data {
  margin-top: 13px !important;
}

.second-row {
  margin-left: -40px;
}

.second-column {
  margin-left: 24px;
}

.present-complaints {
  width: 550px;
  height: 115px;
}

.right-side-data {
  left: 105px;
  position: relative;
  top: 190px;
}

.past-history {
  margin-top: 30px;
  width: 550px;
  height: 115px;
}

.findings {
  margin-top: 35px;
  width: 550px;
  height: 115px;
}

.provisional {
  margin-top: 35px;
  width: 550px;
  height: 115px;
}

.fa-female {
  color: green;
}

.fa-male {
  color: red;
}

.form-check-input {
  margin-right: 10px;
}

.letter-head-back {
  /* background: url('./letter-head-backside.jpg'); */
  width: 210mm;
  height: 297mm;
  /* background-size: 100%; */
  margin: 0px auto;
}

.medicine-data-head {
  position: relative;
  top: 220px;
  left: 110px;
  font-weight: bold;
}

.check-mark {
  margin-left: -15px;
}

.col-1.check-mark {
  flex: 0 0 auto;
  width: 6.5%;
}

.medicine {
  margin-top: 15px !important;
  height: 25px;
}

.med1 {
  height: 25px;
}

.diet {
  margin-top: 23px !important;
  height: 50px;
  margin-left: 16px !important;
}

.investigations {
  margin-top: 20px !important;
  margin-left: -30px !important;
  height: 290px;
}

.review {
  margin-top: 20px !important;
  margin-left: -30px !important;
  height: 90px;
}

.checkbox-area {
  left: 154px;
  position: relative;
  top: 45px;
}

.date {
  margin-left: 140px;
  margin-top: 8px;
}

.col-5{ /*Sandeep's changes*/
  width: 50.666667% !important;
}

.col-1{ /*Sandeep's changes*/
  width: 13.333333% !important;
}

.col-2{ /*Sandeep's changes*/
  width: 19.666667% !important;
}

.row>*{ /*Sandeep's changes*/
  padding: 0x !important;
  margin-top: -15px;
  margin-bottom: 30px;
}

