body{
    background-color: lightgreen;
  }
  
   .textInput{
    min-width: 200px;
  }
  
  h1{
    color:rebeccapurple;
  }
  
  h4{
    color:rosybrown;
    border: 0px groove olive;
    border-width: 1px;
    border-radius: 25px;
    border-collapse: collapse;
  }

  .fa-male:before {
    content: "\f183";
}

.fa-female:before {
    content: "\f182";
}
  
  input.textBox{
    margin: 4px;
    width: 130px;
    border-color: lightblue;
    border-radius: 50px;
    text-align: center;
  }
  
  input.radioButton{
    margin-left: 10px;
    margin-right: 5px;
    width: auto;
    height: 20px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  
  #title {
      text-align: center;
      font-family: arial, sans-serif;
    }
    
    #tests {
      text-align: center;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     
      border: 3px solid lightsteelblue;
      border-radius: 10px;
      width: 100%;
    }
    
    #tests td,
    #tests th {
      border: 2px solid #ddd;
      padding: 1px;
    }
  
    #tests tr, #tests th{
      height: 5px;
    }
    
    .address-weight-bp, .name-age-gender, .temp-time-date{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .fas{
    font-size: 2.5rem;
  }
  
  .fa-female{
    color: green;
  }
  
  .fa-male{
    color: red;
    padding: 0 120px 0 0;
  }
  
  .name, .age, .address, .weight, .bp, .temp, .time, .date, .complaint, .history, .findings{
    margin-top: 25px;
    margin-left: 25px;
    flex: 0 0 25%;
  }

  /*
  .history{
    margin: 30px 0;
  
  }*/
  
  .txt-label{
    margin: 2px;
    border: 1px solid red;
    width: 230px;
    height: 24px;
  }
  
    #tests tr:nth-child(even) {
      background-color:lightcyan;
    }
    
    #tests tr:hover {
      background-color: #ddd;
    }
    
    #tests th {
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      background-color:rosybrown;
      color: white;
    }
  
    .btn1{
      margin-left: 40%;
      background-color: lightsalmon;
      text-align: center;
      border: none;
    }
  
    .btnSubmit{
      margin-left: 40%;
      background-color:goldenrod;
      text-align: center;
      border: 1px solid red;
      font-weight: bolder;
    }
    .btn:hover{
      background-color: none;
    }
  
    .leftImages{
      border-radius: 50px;
  
    }
  
    .rightImages{
      border-radius: 50px;
      
    }
    /*Animation starts here*/
  
  .leftToRight{
    position: relative;
    -webkit-animation-name: leftToRight-dx;
    -webkit-animation-duration: 3s;
    animation-name: leftToRight-dx;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes leftToRight-dx{
    from{
      opacity: 0.1;
      left: -425px;
      top: 0px;
    }
    to{
      opacity: 1;
      left: 0px;
      top: 0px;
    }
  }
  
  /* Standard Syntax*/
  @keyframes leftToRight-dx{
    from{
      opacity: 0.1;
      left: -425px;
      top: 0px;
    }
    to{
      opacity: 1;
      left: 0px;
      top: 0px;
    }
  }
  
  .rightToLeft{
    position: relative;
    -webkit-animation-name: rightToLeft-dx;
    -webkit-animation-duration: 3s;
    animation-name: rightToLeft-dx;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes rightToLeft-dx{
    from{
      opacity: 0.1;
      left: 425px;
      top: 0px;
    }
    to{
      opacity: 1;
      left: 0px;
      top: 0px;
    }
  }
  
  /* Standard Syntax*/
  @keyframes rightToLeft-dx{
    from{
      opacity: 0.1;
      left: 425px;
      top: 0px;
    }
    to{
      opacity: 1;
      left: 0px;
      top: 0px;
    }
  }
    /*Animation ends here*/
  
    @media screen and (max-width: 767px) {
      body {
        background-color: rgb(224, 250, 248);
        margin-left: 2px;
        margin-top: 100px;
        margin-bottom: 20px;
        float: left;
      }
  
      h1{
        color:rgb(139, 40, 9);
        font-size: large;
        min-width: 400px;
        float: left;
        align-self: center;
      }
  
      .leftImages{
        border-radius: 50px;
        max-width: 30px;
      }
      .rightImages{
        border-radius: 50px;
        max-width: 30px;
      }
    }
  
    /* Extra small devices (phones, 600px and down) */
  /*@media only screen and (max-width: 600px) {...}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /*@media only screen and (min-width: 600px) {...}
  
  /* Medium devices (landscape tablets, 768px and up) */
  /*@media only screen and (min-width: 768px) {...}
  
  /* Large devices (laptops/desktops, 992px and up) */
  /*@media only screen and (min-width: 992px) {...}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /*@media only screen and (min-width: 1200px) {...}*/
  